@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");
.App {
  text-align: center;
  background: rgb(135, 132, 189);
  background: linear-gradient(
    90deg,
    rgba(135, 132, 189, 1) 0%,
    rgba(133, 217, 245, 1) 29%,
    rgba(133, 213, 242, 1) 50%,
    rgba(0, 212, 255, 1) 77%,
    rgba(141, 202, 217, 1) 99%,
    rgba(219, 219, 240, 1) 100%
  );
  padding-top: 100px;
}

.Nav-bar h1 {
  text-transform: uppercase;
  background: linear-gradient(to right, #ff0000 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: cursive;
}
.formulaire {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}
.bouton-form {
  text-align: center;
}
